<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li>
    <a  [routerLink]="['/welcome']" class="nav-link">Home</a>
    </li>
    <li>
    <a  [routerLink]="['/courses']" class="nav-link">Available Courses</a>
    </li>
    <li>
      <a  [routerLink]="['/customers']" class="nav-link">Customer List</a>
      </li>
    <li>
      <a [routerLink]="['/createCourse']" class="nav-link">Create Course Template Form</a>
    </li>
    <li>
      <a [routerLink]="['/createCourseReactive']" class="nav-link">Create Course Reactive 
        Form</a>
    </li>
  </ul>
</nav>
<div class="container">
<router-outlet>
  
</router-outlet>
</div>
